/*= Reset CSS 
============= */
.worksContainer {
	display: flex;
	flex-direction: row !important;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.worksCard {}


li {
	list-style: none;
}

.worksTitle {
	font-size: 20px;
}

.LearnMorebtn {
	display: inline-block;
	padding: 5px 10px;
	font-size: 14px;
	color: #fff;
	border: 2px solid #8C7F63;
	background-color: #8C7F63;
	text-decoration: none;
	transition: 0.4s;
}

.LearnMorebtn:hover {
	background-color: transparent;
	color: #8C7F63;
	transition: 0.4s;
}

.text-desc {
	position: absolute;
	left: 0;
	top: 0;
	background-color: #fff;
	height: 100%;
	opacity: 0;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

/*= Reset CSS End
================= *

/* effect-1 css */
.port-1 {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	overflow: hidden;
	text-align: center;
	border: 4px solid rgba(255, 255, 255, 0.9);
	border-radius: 4px;
}

.port-1 .text-desc {
	opacity: 0.9;
	top: -100%;
	transition: 0.5s;
	color: #000;
}

.port-1 img {
	transition: 0.5s;
}

.port-1:hover img {
	transform: scale(1.2);
}

.port-1.effect-1:hover .text-desc {
	top: 0;
}

.image-box img {
	width: 500px;
	height: 600px;
}

/*= Media Screen CSS
==================== */
@media only screen and (max-width: 1090px) {

	.port-5.effect-1 {
		z-index: 19;
	}
}

@media only screen and (max-width: 360px) {
	.worksCard {
		width: 300px;
	}

	.port-1 .text-desc,
	.port-1.effect-3:hover .text-desc,
	.port-3.effect-1 .text-desc,
	.port-3.effect-3 .text-desc,
	.port-4.effect-1 .text-desc,
	.port-4.effect-2 .text-desc,
	.port-4.effect-3 .text-desc,
	.port-8 .text-desc {
		padding: 20px;
	}

	.text-desc {
		padding: 7px;
	}
}

/*= Media Screen CSS End
======================== */