body {
  background-color: #d4d1cb;
}
header {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}
header .back {
  color: #8C7F63;
  line-height: 50px;
  align-self: start;
  font-size: 22px;
  font-weight: lighter;
  cursor: pointer;
}
header .back:hover {
  animation: colorChange 1s infinite;
}
@keyframes colorChange {
  20% {
    color: #c9a65b;
  }
  40% {
    color: #D99400;
  }
  60% {
    color: #bba169;
  }
  100% {
    color: #8C7F63;
  }
}
.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0 20px 20px 20px;
  box-sizing: border-box;
}
.container .Left_Wrap {
  padding: 10px 20px;
  background-color: #ffffff;
  width: 70%;
  border-radius: 10px;
}
.container .Left_Wrap .saySth {
  font-size: 22px;
}
.container .Left_Wrap .nickName {
  width: 80%;
  height: 40px;
  margin-bottom: 20px;
  border-radius: 6px;
  border: 1px solid #ccc;
  outline: none;
}
.container .Left_Wrap .MessageTextArea {
  width: 80%;
  margin-bottom: 20px;
  border-radius: 10px;
  border: 1px solid #ccc;
  outline: none;
}
.container .Left_Wrap .MessageSubmit {
  border-radius: 4px;
  width: 20%;
  height: 30px;
  border: 1px solid #ccc;
  color: #333;
  background-color: #fff;
  outline: none;
}
.container .Left_Wrap .MessageSubmit:hover {
  background-color: #333;
  color: #fff;
}
.container .right_wrap {
  width: 20%;
  margin-left: 20px;
  border-radius: 10px;
}
.container .right_wrap .about {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 20px 10px;
  margin-bottom: 20px;
}
.container .right_wrap .about .selfImg {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}
.container .right_wrap .about ul {
  list-style: none;
}
.container .right_wrap .about ul li {
  background-color: #d4d1cb;
  border-radius: 6px;
  padding: 0 10px;
}
.container .right_wrap .about ul li p {
  color: #333;
  line-height: 30px;
  font-size: 18px;
}
.container .right_wrap .about ul li .github {
  display: flex;
  align-items: center;
}
.container .right_wrap .about ul li .github #github {
  width: 40px;
  height: 40px;
  cursor: pointer;
  margin-left: 10px;
}
.container .right_wrap .wechat {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 10px;
  background-color: #ffffff;
  border-radius: 10px;
}
.container .right_wrap .wechat .wechatImg {
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 768px) {
  .Left_Wrap {
    width: 100% !important;
  }
  .right_wrap {
    width: 100% !important;
    margin-top: 20px;
    margin-left: 0 !important;
  }
}
