@import url("https://fonts.googleapis.com/css?family=Lora:400,400i,700");

html {
    background-color: #d4d1cb;
}

ul li {
    list-style: none;
}

a {
    color: #333;
    text-decoration: none;
}

.wrap {
    width: 100%;
    height: 100%;
    position: relative;
}

.index {
    z-index: -10;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    background-image: url('https://ae01.alicdn.com/kf/Hf1af481a5f254ceeb0e805c1621c0004L.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    button {
        background-color: #fff;
        color: #333;
        padding: 10px 20px;
        border-radius: 6px;
        font-size: 20px;
        outline: none;
        border: none;
        animation: downToUp 0.8s ease-out both;
    }

    button:hover {
        background-color: #333;

        a {
            color: #fff;
        }

    }

    p {
        animation: downToUp 0.8s  ease-out both;
        margin-top: 20px;
        letter-spacing: 10px;
        font-size: 24px;
        color: #fff;
    }

}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    z-index: 10;
    margin-bottom: 20px;

    .headerContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;

        .logoText {
            flex: 2;

            .logoTxt {
                margin: 0 2em;
                font-size: 2em;
                font-weight: 600;
                line-height: 1.8;
                color: #020202;
                font-family: Lora, serif;

                span {
                    animation: landIn 0.8s ease-out both;
                }
            }

        }

        .headerListView {
            flex: 8;
            display: flex;
            flex-direction: row;
            justify-content: center;

            .headerList {
                padding: 10px 20px;

                a {
                    font-size: 22px;
                    overflow: hidden;
                    text-decoration: none;
                }

                .headerName:hover {
                    color: #000;
                    text-decoration: underline;
                }
            }
        }

        .loading {
            flex: 2;
            justify-content: center;

        }

    }

}

.container {
    padding-top: 50px;

    .worksContainer {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;

        .worksList {
            padding: 20px 10px;
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 100%;
            height: 50px;

            .workName {
                flex: 1;
                font-size: 22px;
            }

            span {
                flex: 1;
                font-size: 22px;
            }

            .workName:hover {
                font-size: 24px;
            }

        }
    }

    .contact {
        padding: 40px 20px;
        box-sizing: border-box;
        overflow-x: hidden;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        .selfReport {
            width: 30%;
            font-size: 20px;
            letter-spacing: 8px;
            padding: 20px 20px;
            border-radius: 6px;
            background-color: #fff;
            font-family: sans-serif;
        }
        .messageWrap {
            width: 30%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: start;
            padding: 10px;
            .contactInfo {
                display: flex;
                flex-direction: column;
                padding: 10px 20px;
                background-color: #fff;
                border-radius: 6px;
                .contactInfoText {
                    color: #333;
                    font-size: 20px;
                    p {
                        background-color: #d4d1cb;
                        height: 50px;
                        line-height: 50px;
                        padding: 0 10px;
                        border-radius: 10px;
                    }

                }

                .wetchatImg {
                    position: relative;
                    width: 400px;
                    height: 500px;
                    opacity: 0.8;
                }
            }

        }

        .selfImgs {
            width: 30%;
            display: flex;
            flex-direction: row;
            .selfie {
                width: 50%;
                height: 400px;
                border-radius: 10px;
            }
            .selfie:first-child{
                margin-right: 10px;

            }
        }


    }
}

footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .footerName {
        width: 100%;
        justify-content: center;
        margin: 0 2em;
        font-size: 16em;
        font-weight: 600;
        display: flex;
        line-height: 1.8;
        color: #020202;
        font-family: Lora, serif;
        white-space: pre;


        span {
            animation: landIn 0.8s ease-out both;
        }
    }
}



@keyframes landIn {
    from {
        opacity: 0;
        transform: translateY(-20%);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes downToUp {
    from {
        opacity: 0;
        transform: translateY(-100%);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

